.container-fluid .row .fjerdingen-box{
    background-color:blue;
    background-image: url('../../img/fjerdingen.jpg');
    object-fit: contain;
}

.container-fluid .row .fjerdingen-box .row .col .school-title{
    color:white;
    text-transform: uppercase;
    font-size:26px;
}

.container-fluid .row .fjerdingen-box .row .col .school-location{
    font-size:26px;
}

.container-fluid .row .fjerdingen-box .row{
    padding-top:80px !important;
    padding-bottom:80px !important;
}
.campus-section {
  margin: 20px 0;
}
.campus-title {
  font-size:24px;
  text-transform: uppercase;
  font-family: 'SanFranciscoCompactRegular';
  padding-left:70px;
  padding-right:70px;
}
